<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>

		<typeAlias type="java.util.List" alias="List"/>		
		
		
		<!-- MY PAGE  -->
		<typeAlias type="com.starbucks.sw4.my.faq.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="com.starbucks.sw4.my.faq.Pager" alias="Pager"/>
		<typeAlias type="com.starbucks.sw4.my.MyDTO" alias="MyDTO"/>
		
		
		<!-- admin page -->
		<typeAlias type="com.starbucks.sw4.admin.tables.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.starbucks.sw4.admin.util.Pager" alias="AdminPager"/>
		<typeAlias type="com.starbucks.sw4.admin.tables.notice.reply.ReplyDTO" alias="ReplyDTO"/>
		<typeAlias type="com.starbucks.sw4.admin.tables.member.AdminMemberDTO" alias="AdminMemberDTO"/>
		<typeAlias type="com.starbucks.sw4.admin.tables.work.WorkTimeTableDTO" alias="WorkTimeTableDTO"/>
		<typeAlias type="com.starbucks.sw4.admin.tables.store.AdminStoreDTO" alias="AdminStoreDTO"/>


		<!-- member -->
		<typeAlias type="com.starbucks.sw4.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.starbucks.sw4.member.memberUser.MemberUserDTO" alias="MemberUserDTO"/>
		<typeAlias type="com.starbucks.sw4.member.memberAdmin.MemberAdminDTO" alias="MemberAdminDTO"/>
		<typeAlias type="com.starbucks.sw4.member.auth.AuthDTO" alias="AuthDTO"/>
		
		<!-- store -->
		<typeAlias type="com.starbucks.sw4.store.StoreDTO" alias="StoreDTO"/>
		<typeAlias type="com.starbucks.sw4.store.storeInfo.StoreInfoDTO" alias="StoreInfoDTO"/>
		<typeAlias type="com.starbucks.sw4.store.storeFile.StoreFileDTO" alias="StoreFileDTO"/>
		
		<!-- pay -->
		<typeAlias type="com.starbucks.sw4.order.pay.PayDTO" alias="PayDTO"/>
		<typeAlias type="com.starbucks.sw4.order.OrderDTO" alias="OrderDTO"/>
		<!-- menu -->
		<typeAlias type="com.starbucks.sw4.menu.MenuDTO" alias="MenuDTO"/>
		<typeAlias type="com.starbucks.sw4.menu.OptionDTO" alias="OptionDTO"/>
		<typeAlias type="com.starbucks.sw4.menu.StoreSDTO" alias="StoreSDTO"/>

	</typeAliases>
	
	
</configuration>