<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.starbucks.sw4.my.faq.FaqDAO">
    	<select id="getRewardList" resultType="FaqDTO" parameterType="Pager">
    		select * from
   			(select rownum as R, N.* from
  			 (select * from faq where type= #{type}) N)
  			 where num between #{startRow} and #{lastRow}
    	</select>
    	
    	<select id="getCardList" resultType="FaqDTO" parameterType="Pager">
    		select * from
			(select rownum as R, M.*from
			(select * from faq where type = #{type}) M)
			where R between #{startRow} and #{lastRow}
    	</select>
    	
    	<select id="getGiftCardList" resultType="FaqDTO" parameterType="Pager">
    		select * from
			(select rownum as R, M.*from
			(select * from faq where type = #{type}) M)
			where R between #{startRow} and #{lastRow}
    	</select>
    
    	<select id="faqCount" resultType="java.lang.Long" parameterType="Pager">
    		select count(num) from faq where type=#{type}
    	</select>
    </mapper>