<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.starbucks.sw4.my.MyDAO">
    	<insert id="setVocList" parameterType="MyDTO">
    		insert into customerqna values (qna_seq.nextval, #{category}, #{id}, #{storeName}, #{visitDate}, #{title}, #{contents})
    	</insert>
    
    	<select id="getStore" parameterType="MyDTO" resultType="MyDTO">
    		select storeName, addr from store where storeName like '%'||#{stosearch}||'%'
    	</select>
    	
    	<delete id="setMyInfoOut" parameterType="MyDTO">
    		delete from member where id=#{id}
    	</delete>
    
    	<select id="getMyIndex" resultType="MyDTO" parameterType="MemberDTO">
			select S.useStar, S.id, M.nickName, M.grade, C.menuimage, C.balance, C.korname
			from starHistory S join member M 
			on S.id = M.id
            full join membercard C 
            on S.id = C.id
			where M.id = #{id}
    	</select>
    	
    	<select id="getOne" parameterType="MemberDTO" resultType="MyDTO">
    		select * from member where id = #{id}
    	</select>
 
 		<update id="setUpdate" parameterType="MyDTO"> 
 			update member set phone=#{phone}, email=#{email}, nickname=#{nickName} where id=#{id}
	 	</update>
	 	
	 	<update id="setNewPw" parameterType="MyDTO"> 
 			update member set pw=#{pw} where id=#{id}
	 	</update>
    
    	<select id="getMyStar" parameterType="MyDTO" resultType="MyDTO">
    		select * from starhistory where id = #{id}
    	</select>
    	
    	<select id="getMyStore" parameterType="MyDTO" resultType="MyDTO">
    		select rownum R, N.* from (select * from memberStore where id= #{id})N
    		
    	</select>
    </mapper>
