<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.starbucks.sw4.my.MyDAO">
    	<select id="getStore" parameterType="MyDTO" resultType="MyDTO">
    		select storeName, addr from store where storeName like '%'||#{stosearch}||'%'
    	</select>
    	
    	<delete id="setMyInfoOut" parameterType="MyDTO">
    		delete from member where id ='jy1234'
    	</delete>
    
    	<select id="getMyIndex" resultType="MyDTO" parameterType="MyDTO">
    		select S.useStar, S.id, M.nickName, M.grade, F.fileName, C.balance, F.korName 
			from starHistory S inner join member M
			on S.id = M.id
            join membercard C
            on S.cardNum = C.cardNum
            join cardfile F
            on C.korName = f.korname
			where M.id = #{id}
    	</select>
    	
    	<select id="getOne" parameterType="MyDTO" resultType="MyDTO">
    		select * from member where id = #{id}
    	</select>
 
 		<update id="setUpdate" parameterType="MyDTO"> 
 			update member set phone=#{phone}, email=#{email}, nickname=#{nickName} where id=#{id}
	 	</update>
	 	
	 	<update id="setNewPw" parameterType="MyDTO"> 
 			update member set pw=#{pw} where id=#{id}
	 	</update>
    
    	<select id="getMyStar" parameterType="MyDTO" resultType="MyDTO">
    		select * from starhistory where id = #{id}
    	</select>
    	
    	<select id="getMyStore" parameterType="MyDTO" resultType="MyDTO">
    		select * from memberStore where id= #{id}
    		
    	</select>
    </mapper>
