<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.starbucks.sw4.my.star.StarDAO">
    	
    	<update id="setStarCard" parameterType="StarDTO">
    		update starHistory set useStar=#{useStar}, totalStar=#{totalStar}, state=#{state}, saveDate=#{orderDate}, validDate=#{sysdate+365} where id =#{id}
    	</update>
    	
    	<select id="getStore" parameterType="StarDTO" resultType="StarDTO">
    		select storeName, addr from store where storeCode =#{storeCode}
    	</select>
    
    </mapper>