<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starbucks.sw4.menu.MenuDAO">

	<select id="getOne" parameterType="MenuDTO" resultMap="getMenuListResult">
		select M.*, MO.hotYN, MO.opt1,MO.opt2 from menuOption MO full join menu M on(MO.optIndex = M.optIndex)
		where M.menuCode=#{menuCode}
	</select>

	<select id="getMenuList" parameterType="MenuDTO" resultMap="getMenuListResult">
		select M.*, MO.optIndex,MO.hotYN,MO.opt1, MO.opt2
		from menu M full join menuOption MO on(M.optIndex = MO.optIndex)
		where M.menuCode like '%'||#{type}||'%' and M.category like '%'||#{category}||'%'
	</select>
	<resultMap type="MenuDTO" id="getMenuListResult">
		<id column="menuCode" property="menuCode"/>
		<result column="korName" property="korName"/>
		<result column="menuImage" property="menuImage"/>
		<result column="price" property="price"/>
		<result column="limited" property="limited"/>
		<result column="limitedStore" property="limitedStore"/>
		<result column="descr" property="descr"/>
		<result column="category" property="category"/>
		<association property="optionDTO" javaType="OptionDTO" resultMap="getOptionDTO">
		</association>
	</resultMap>
	
	<resultMap type="OptionDTO" id="getOptionDTO">
		<id column="optIndex" property="optIndex"/>
		<result column="hotYn" property="hotYn"/>
		<result column="opt1" property="opt1"/>
		<result column="opt2" property="opt2"/>
	</resultMap>
	
	<select id="getOptionList" resultType="OptionDTO">
		select *
		 from menuOption
	</select>

	<select id="getStoreList" parameterType="String" resultType="StoreSDTO">
		select storeCode, storeName
		 from store
		 where storeCode = #{limitedStore}
	</select>

</mapper>