<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starbucks.sw4.menu.menu.MenuDAO">

	<select id="getMenuList" parameterType="String" resultMap="getMenuListResult">
		select menucode, korname, menuimage, price
		 from menu
		 where menucode like '%'||#{type}||'%'
	</select>
	<resultMap type="MenuDTO" id="getMenuListResult">
		<id column="menuCode" property="menuCode"/>
		<result column="korName" property="korName"/>
		<result column="menuImage" property="menuImage"/>
		<result column="price" property="price"/>
	</resultMap>
	
	
	<select id="getOptionList" resultMap="getOptionListResult">
		select optindex, hotyn, cupsizeoption
		 from menuoption
	</select>
	<resultMap type="OptionDTO" id="getOptionListResult">
		<id column="optIndex" property="optIndex"/>
		<result column="hotYn" property="hotYn"/>
		<result column="cupSizeOption" property="cupSizeOption"/>
	</resultMap>
	
	

</mapper>