<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starbucks.sw4.order.pay.PayDAO">

	<insert id="setInsertPay" parameterType="PayDTO">
		insert into pay
		values (pay_seq.NEXTVAL,#{orderNum},#{pg},#{pay_method},#{merchant_uid},#{amount},#{currency},
				#{m_redirect_url},#{buyer_tel},#{pay_amount},#{pay_status},#{name});
	</insert>

	<!-- 
insert into pay
values (pay_seq.NEXTVAL,#{orderNum}, 'kakao', 'card','OP6', 1000,'KRW', 'https://localhosw/sw4/', '010-0000-0000', 1000, 'paid','name'); -->

</mapper>