<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starbucks.sw4.admin.tables.member.AdminMemberDAO">

	<select id="getList" parameterType="AdminPager" resultMap="getAdminLoginResult">
		select *
		from (select rownum as r, d.*
		        from (select M.*, MA.storecode, ST.storename, ST.addr, ST.doro_addr
        			  from member M join memberAdmin MA on (M.adminNum = MA.adminNum)
		        					join store ST on (MA.storeCode = ST.storeCode)
		        where
		        	<choose>
		        		<when test="type != 4">MA.storeCode=#{storeCode}</when>
		        		<otherwise>MA.storeCode>=1</otherwise>
	        		</choose>
		        and (M.name like '%'||#{search}||'%' or M.nickName like '%'||#{search}||'%')
		        
		        	<if test="searchType != 0">
		        		and M.type = #{searchType}
		        	</if>
		        
		        order by M.type desc) d)
		where r between #{startRow} and #{lastRow}
	</select>

	<resultMap type="AdminMemberDTO" id="getAdminLoginResult">
		<id column="num" property="num"/>
		<result column="r" property="r"/>
		<result column="adminNum" property="adminNum"/>
		<result column="type" property="type"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="birth" property="birth"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="nickName" property="nickName"/>
		<result column="grade" property="grade"/>
		<result column="joinPath" property="joinPath"/>
		<result column="regDate" property="regDate"/>
		<association property="storeDTO"
					 javaType="StoreDTO" resultMap="getAdminLoginStoreResult">
		</association>
	</resultMap>
	
	<resultMap type="StoreDTO" id="getAdminLoginStoreResult">
		<id column="storeCode" property="storeCode"/>
		<result column="storeName" property="storeName"/>
		<result column="addr" property="addr"/>
		<result column="doro_addr" property="doro_addr"/>
	</resultMap>

	<select id="getCount" parameterType="AdminPager" resultType="Long">
		select count(*)
		from (select M.* from member M join memberAdmin MA on (M.adminNum = MA.adminNum)
			where 
			<choose>
				<when test="type != 4">MA.storeCode=#{storeCode}</when>
				<otherwise>MA.storeCode >= 1</otherwise>
			</choose>
			and (M.name like '%'||#{search}||'%' or M.nickName like '%'||#{search}||'%')
	        	<if test="searchType != 0">
	        		and M.type = #{searchType}
	        	</if>
			) d
	</select>

</mapper>