<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starbucks.sw4.admin.tables.member.AdminMemberDAO">

	<select id="getList" parameterType="AdminPager" resultType="AdminMemberDTO">
		select *
		from (select rownum as r, d.*
		        from (select M.* from member M join memberAdmin MA on (M.adminNum = MA.adminNum)
		        where
		        	<choose>
		        		<when test="type != 4">MA.storeCode=#{storeCode}</when>
		        		<otherwise>MA.storeCode>=1</otherwise>
	        		</choose>
		        and (M.name like '%'||#{search}||'%' or M.nickName like '%'||#{search}||'%')
		        
		        	<if test="searchType != 0">
		        		and M.type = #{searchType}
		        	</if>
		        
		        order by M.type desc) d)
		where r between #{startRow} and #{lastRow}
	</select>

	<select id="getCount" parameterType="AdminPager" resultType="Long">
		select count(*)
		from (select M.* from member M join memberAdmin MA on (M.adminNum = MA.adminNum)
			where 
			<choose>
				<when test="type != 4">MA.storeCode=#{storeCode}</when>
				<otherwise>MA.storeCode >= 1</otherwise>
			</choose>
			and (M.name like '%'||#{search}||'%' or M.nickName like '%'||#{search}||'%')
	        	<if test="searchType != 0">
	        		and M.type = #{searchType}
	        	</if>
			) d
	</select>

</mapper>