<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starbucks.sw4.store.StoreDTO">
	
	<select id="getAdminStore" parameterType="AdminMemberDTO" resultType="StoreDTO">
		select * from store where storeCode = #{storeCode}
	</select>
	
	<select id="getAdminStoreMemberCount" parameterType="AdminMemberDTO" resultType="Long">
		select count(*)
		from (select M.* from member M join memberAdmin MA on (M.adminNum = MA.adminNum)
			where 
			<choose>
				<when test="type != 4">MA.storeCode=#{storeCode}</when>
				<otherwise>MA.storeCode >= 1</otherwise>
			</choose>
			) d	
	</select>
	
	<select id="getAdminStoreEachCount" resultMap="getStoreCountResult">
		select storeCode, count(adminNum) as staffCount from memberAdmin
		group by storeCode
	</select>
	
	<resultMap type="map" id="getTmp">
		<result column="staffCount" property="staffCount"/>
		<result column="storeCode" property="storeCode"/>
	</resultMap>
	
	<resultMap type="AdminMemberDTO" id="getStoreCountResult">
		<result column="staffCount" property="staffCount"/>
		<association property="storeDTO"
					 javaType="StoreDTO" resultMap="getStoreResult">
		</association>
	</resultMap>
	
	<resultMap type="StoreDTO" id="getStoreResult">
		<result column="storeCode" property="storeCode"/>
	</resultMap>
	
</mapper>