<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.starbucks.sw4.admin.tables.work.WorkTimeTableDAO">

	<insert id="setInsert" parameterType="java.util.HashMap">
	
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			select managerId from memberAdmin
			where storeCode = (select storeCode from memberAdmin where managerId = #{staff.id}) and type = 3			
		</selectKey>
		
		insert  into workTimeTable
				values('TC'||to_char(WorkTimeTable_seq.NEXTVAL), sysdate, #{id}, #{staff.num},
					   #{work.sun},#{work.mon},#{work.tue},#{work.wed},#{work.thu},#{work.fri},#{work.sat})
		
	</insert>
	
	<update id="setTimeTableYN" parameterType="AdminMemberDTO">
		update memberAdmin set timeTable = 'Y' where managerId = #{id}
	</update>
	
</mapper>