@charset "UTF-8";
/* 2020.11.12 성민 */
/* 초기화 */
footer { width:100%; padding:32px 0 35px 0; background:#2C2A29; clear:both; position:relative; }
	.en { font-family:arial, HelveticaNeue, DroidSans, Sans-serif, Helvetica; }

	.footer_wrap { background:url("../../images/common/footer_logo.png") right 8px no-repeat; display:inline-block; position:relative; left:50%; }
	.footer_menus ul { float:left; }
	.footer_menus ul li a { width:100%; }
	.footer_menus ul ul { display:none; border-bottom:0; }
	.footer_menus ul ul li { display:block !important; }
	.footer_menus ul ul li a { background:#76685e; }
	
	.footer_util_btn { display:none; }

    .footer_awards_wrap { width:100%; height:80px; margin-top:40px; background:#282828; position:relative; }
    .footer_awards_wrap_inner { left:50%; height:64px; position:absolute; top:8px;}
    .footer_awards_wrap_inner ul li { float:left; }
    .footer_awards_wrap_inner li { position:relative; }
	.footer_awards_wrap_inner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { display:none; }
	
	.footer_awards_slider { display:inline-block; }
	.footer_awards_slider li a img { margin:0 auto; }

    .copyright { left:50%; position:relative; }
    .copyright a.last { border-right:0; }
    .copyright ul.copy_menu { padding:25px 0 5px 0; margin:0 auto; text-align:center; }
    .copyright ul.copy_menu:after { content:""; display:block; clear:both; }
    .copyright ul.copy_menu li { line-height:1.3; display:inline-block; margin:0 7px; }
	.c_00b050 { color:#00b050 !important ; font-weight:bold; }

	.footer_slider_controller { bottom:3px; height:12px; position:absolute; text-align:center; width:100%; z-index:14; }
    .footer_slider_controls { display:inline-block; height:12px; position:relative; width:9px; }
    .footer_slider_controls div.bx-controls-auto { position:absolute; }
    .footer_slider_controls div.bx-controls-auto a { display:block; overflow:hidden; text-indent:-20000px; }
    .footer_slider_controls div.bx-controls-auto a.bx-stop { background:url("../../images/common/footer_award_play.png") 0 0 no-repeat; height:12px; width:9px; }
    .footer_slider_controls div.bx-controls-auto a.bx-start { background:url("../../images/common/footer_award_play.png") -9px 0 no-repeat; height:12px; width:9px; }
    .footer_slider_controls div.bx-controls-auto a.bx-stop:hover,
    .footer_slider_controls div.bx-controls-auto a.bx-start:hover { background-position:0 0; }

    .footer_slider_pagers { display:none; height:12px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item { float:left; margin-left:8px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item a { display:block; overflow:hidden; text-indent:-20000px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item a.bx-pager-link { background:url("../../images/common/footer_award_pager.png") -13px 0; height:12px; width:13px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item a.bx-pager-link.active { background:url("../../images/common/footer_award_pager.png") 0 0; height:12px; width:13px; }
	
/* Web(1100) Version */
@media screen and (min-width:961px) {
	ul.footer_first_menu { display:none !important; }
	
	/* WEB footer */
	.footer_wrap { width:1100px; margin-left:-550px; }
    .footer_menus ul { width:220px; }
    
    .footer_menus ul li a { color:#fff; font-size:12px; line-height:24px; }
    .footer_menus ul li.footer_menu_ttl a { color:#fff; font-size:14px; line-height:40px; }

	/* -- 수상내역 */
	.footer_awards_wrap_inner { width:1134px; height:64px; margin-left:-567px; top:8px; }
	/*.footer_awards_wrap_inner p.footer_award_btn a { display:block; text-indent:10px; }*/
    
	.footer_slider_controller { width:100%; height:12px; bottom:3px; position:absolute; text-align:center; z-index:14; }

    .footer_slider_controls { width:9px; height:12px; display:inline-block; position:relative; }
	.footer_slider_controls div.bx-controls-auto { position:absolute; }
    .footer_slider_controls div.bx-controls-auto a { display:block; overflow:hidden; text-indent:-20000px; }
    .footer_slider_controls div.bx-controls-auto a.bx-stop { width:9px; height:12px; background:url("../../images/common/footer_award_play.png") 0 0 no-repeat; }
    .footer_slider_controls div.bx-controls-auto a.bx-start { width:9px; height:12px; background:url("../../images/common/footer_award_play.png") -9px 0 no-repeat; }
    .footer_slider_controls div.bx-controls-auto a.bx-stop:hover,
    .footer_slider_controls div.bx-controls-auto a.bx-start:hover { background-position:0 0; }

    .footer_slider_pagers { display:none; height:12px; }    
	.footer_slider_pagers div.bx-pager div.bx-pager-item { float:left; margin-left:8px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item a { display:block; overflow:hidden; text-indent:-20000px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item a.bx-pager-link { background:url("../../images/common/footer_award_pager.png") -13px 0; height:12px; width:13px; }
    .footer_slider_pagers div.bx-pager div.bx-pager-item a.bx-pager-link.active { background:url("../../images/common/footer_award_pager.png") 0 0; height:12px; width:13px; }

    /* -- 이용약관 및 방침 */
    .copyright { width:100%; margin-left:-50%; padding-top:30px; color:#999; font-size:12px; text-align:center; line-height:18px; position:relative; left:50%; }
	.copyright a { color:#ccc; padding:0 10px; border-right:1px solid #393939; font-size:12px; }
	.copyright a.c_00b050 { color:#00b050 !important; font-weight:bold; }
    .copyright a.last { border-right:0; }
	.copyright a.btned_link { width:90px; height:30px; line-height:30px; margin:10px 2px 0 3px; color:#fff; background:none; border:2px solid #fff; border-radius:3px; display:inline-block; }

    .copyright ul.copy_menu { padding:25px 0 5px 0; margin:0 auto; text-align:center; }
    .copyright ul.copy_menu:after { content:""; display:block; clear:both; }
    .copyright ul.copy_menu li { margin:0 7px; line-height:1.3; display:inline-block; }
}


@media screen and (max-width:1280px) {
    .footer_wrap { width:600px; margin-left:-300px; }
    .footer_menus ul { width:195px; }
}


@media screen and (min-width:661px) and (max-width:1120px) {
	
	.footer_awards_wrap_inner { width:600px; margin-left:-300px; }
    
	.copyright { color:#999; font-size:12px; line-height:24px; margin-left:-50%; padding-top:30px; text-align:center; width:100%; }
    .copyright a { border-right:1px solid #393939; color:#ccc;font-size:12px; padding:0 10px; }
    .copyright a.btned_link { background:none; border:2px solid #fff; border-radius:3px; color:#fff; display:inline-block; font-size:12px; margin:10px 2px 0 3px; width:90px; height:30px; line-height:30px; }
    .copyright span.en { display:inline-block; line-height:40px; }
}
/* Web(1100) Version end */


/* Mobile Version */
@media screen and (max-width:960px) {
	/* util_btn */
	.footer_util_btn { display: block; }
	.footer_util_btn ul { width:90%; margin:25px auto 0; text-align:center; }
	.footer_util_btn ul:after { content:""; display:block; clear:both; }
    .footer_util_btn ul li { width:31%; margin:0.75%; display:inline-block; float:none; }
    .footer_util_btn ul li a { padding:10% 3%; color:#fff; font-family:'Arial'; text-align:center; border:2px solid #fff; border-radius:3px; display:block; }
		
}


@media screen and (min-width:661px) and (max-width:960px) {
	.footer_wrap { width:600px; margin-left:-300px; }
	.footer_menus ul { width:300px; }
    .footer_menus ul li a { color:#fff; font-size:12px; line-height:24px; }
    .footer_menus ul li.footer_menu_ttl a { font-size:14px; line-height:40px; }

	.footer_util_btn ul { width:60%; }
	.footer_util_btn ul li a { font-size:24px; }

	/* -- 수상내역 */
    .footer_awards_wrap { margin-top:40px; }
    .footer_awards_wrap_inner { width:600px; margin-left:-300px; }

    .footer_awards_wrap_inner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { width:100%; height:12px; padding:0; top:10px !important; }
    .footer_awards_wrap_inner .bx-wrapper .bx-has-controls-auto { height:64px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-pager.bx-default-pager a { width:13px; height:12px; margin:0 5px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-pager.bx-default-pager a.active { width:13px; height:12px; }
}


/* Mobile Version(660) */
@media screen and (max-width:660px) {
	#footer { padding:0; }
	.footer_wrap { width:100%; padding:0; background:#554c46; margin-left:0; left:0; }
	.footer_menus ul { width:100%; border-bottom:1px solid #403a36; }
	.footer_menus ul li a { background:#645952; color:#e6dbd3; display:block; font-size:14px; text-indent:10px; }
	.footer_menus ul ul li a { background:#76685e; }
	
	.footer_menus ul li.footer_menu_ttl { position:relative; }
    .footer_menus ul li.footer_menu_ttl a { background:#554c46; color:#fff; }
	.footer_menus ul li.footer_menu_ttl a span.footer_arrow_down { width:20px; height:11px; background:url("../../images/common/mobile_footer_arrow_down.png") no-repeat; background-size:20px auto; margin-top:-5px; display:block; position:absolute; top:50%; right:10px; }
    .footer_menus ul li.footer_menu_ttl a span.footer_arrow_up { width:20px; height:11px; background:url("../../images/common/mobile_footer_arrow_up.png") no-repeat; background-size:20px auto; margin-top:-5px; display:block; position:absolute; top:50%; right:10px; }
	
    .footer_menus ul li.footer_2depth_ttl { position: relative; }
    .footer_menus ul li.footer_2depth_ttl a span.footer_arrow_down { width:20px; height:11px; background:url("../../images/common/mobile_footer_arrow_down2.png") no-repeat; background-size:20px auto; display:block; position:absolute; right:10px; }
    .footer_menus ul li.footer_2depth_ttl a span.footer_arrow_up { width:20px; height:11px; background:url("../../images/common/mobile_footer_arrow_up2.png") no-repeat; background-size:20px auto; display:block; position:absolute; right:10px; }	

	.footer_awards_wrap_inner { width:600px; margin-left:-300px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { width:100%; height:12px; padding:0; top:7px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-has-controls-auto { height:64px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-pager.bx-default-pager a { height:12px; margin:0 5px; width:13px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-pager.bx-default-pager a.active { height:12px; width:13px; }

	.copyright { width:310px; margin-left:-155px; padding-top:30px; color:#999; font-size:12px; line-height:24px; text-align:center; }
    .copyright a { padding:0 10px; border-right:1px solid #393939; color:#ccc; font-size:12px; }
    .copyright a.mbn { border-right:0; }
    .copyright a.btned_link { width:70px; height:30px; margin:10px 2px 0 3px; line-height:30px; background:none; border:2px solid #fff; border-radius:3px; color:#fff; font-size:12px; display:inline-block; }
    .copyright span.en { line-height:40px; display:inline-block; }
    .copyright span.br { display:block; }

    .copyright ul.copy_menu li { line-height:1.3; display:block; }
}


@media screen and (min-width:481px) and (max-width:660px) {
	
	.footer_menus ul li a { line-height:50px; }
	.footer_menus ul li.footer_2depth_ttl a span.footer_arrow_down { top:19px; }
    .footer_menus ul li.footer_2depth_ttl a span.footer_arrow_up { top:19px; }
	
	/* -- util_btn */
   .footer_util_btn ul li a { font-size:24px; }

	/* -- 수상내역 */
	/*.footer_awards_wrap { width:100%; height:80px; margin-top:40px; background:#282828; position:relative; }
    .footer_awards_wrap_inner { width:600px; margin-left:-300px; }

    .footer_awards_wrap_inner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { width:100%; height:12px; padding:0; top:7px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-has-controls-auto { height:64px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-pager.bx-default-pager a { height:12px; margin:0 5px; width:13px; }
    .footer_awards_wrap_inner .bx-wrapper .bx-pager.bx-default-pager a.active { height:12px; width:13px; }*/
}


@media screen and (max-width:480px) {
	.footer_awards_wrap_inner { width:600px; }
	.footer_menus ul li a { line-height:50px; }
	.footer_menus ul li.footer_menu_ttl a { font-size:12px; line-height:50px; }
	
	.footer_menus ul li.footer_2depth_ttl { position: relative; }
    .footer_menus ul li.footer_2depth_ttl a span.footer_arrow_down { top:12px; }
    .footer_menus ul li.footer_2depth_ttl a span.footer_arrow_up { top:12px; }
    
    .footer_util_btn ul li a { font-size:17px; }
}


@media screen and (max-width:320px) {
    .footer_util_btn ul a { font-size: 15px; }
}
/* Mobile Version(660) end */

