@charset "UTF-8";

#container { width:100%; }

.store_height_wrap { position:absolute; top:120px; left:0; }
.store_map_layer { background:#fff; border-radius:3px; box-shadow:2px 0px 3px 0px rgba(0, 0, 0, 0.2); -webkit-box-shadow:2px 0px 3px 0px rgba(0, 0, 0, 0.2); left:20px; position:absolute; top:20px; width:300px; z-index:7; }

.store_map_layer_ttl { display:block; position:relative; }
.store_map_layer_ttl > h2 { color:#222; font-size:20px; padding:25px 0 15px 20px; }
.store_map_layer_ttl > h2 img { width:70px; }

.store_map_layer_cont { background: #fff; display:none; @height:551px; position:relative; width:300px; }
.store_map_layer_cont header { float:left; height:40px; position:absolute; top:0; width:33.3%; }
.store_map_layer_cont header.quick_search,
.store_map_layer_cont header.loca_search { border-right:1px solid #ddd; }
.store_map_layer_cont header.quick_search { left:0; }
.store_map_layer_cont header.loca_search { left:33.5%; }
.store_map_layer_cont header.my_store { left:66.9%; }
.store_map_layer_cont header h3 { background:#fff; border-bottom:1px solid #ddd; border-top:1px solid #ddd; height:38px; line-height:38px; text-align:center; width:100%; }
.store_map_layer_cont header h3 a { display:block; color:#444; font-size:12px; height:100%; width:100%; }
.store_map_layer_cont header h3.on { background:#006633; border:none; height:38px; line-height:38px; }
.store_map_layer_cont header h3.on a { color:#fff; }

.road_map_layer_cont { background:#fff; height:551px; position:relative; width:300px; }
.road_map_layer_inner { border-top:1px solid #f4f4f2; padding-top:10px; }
.start_desti_input { padding:0 20px 0 10px; }
.start_desti_input:after { clear:both; content:""; display:block; }
.start_desti_input dl { float:left; margin-top:10px; width:270px; }
.start_desti_input dl dt,
.start_desti_input dl dd { float:left; height:40px; }
.start_desti_input dl dt { width:33px; }
.start_desti_input dl dt label { color:#444; font-size:14px; font-weight:bold; line-height:40px; }
.start_desti_input dl dd { position:relative; width:237px; }
.start_desti_input dl dd p { background: url("../../images/store/icon_magnifier.png") center center no-repeat; border-radius:3px; height:23px; line-height:40px; margin-top:-11.5px; position:absolute; right:0px; top:50%; width:23px; }
.start_desti_input dl dd p a { color:#fff; display:block; font-size:13px; height:100%; overflow:hidden; text-indent:-20000px; text-align:center; width:100%; }

.road_map_input_wrap { float:left; height:40px; position:relative; }
.road_map_input_wrap:after { clear:both; content:""; display:block; }
.road_map_input_wrap input { background:#fff; border:1px solid #ddd; border-radius:3px; color:#666; font-size:13px; height:38px; line-height:38px; outline:none; margin-right:30px; text-indent:10px; }
.road_map_input_wrap input:focus { border:1px solid #006633; outline:none; }
.road_map_input_wrap.rmiw1 input { width:143px; }
.road_map_input_wrap.rmiw2 input { width:203px; }

.btn_my_loca { background:#006633; border-radius:3px; display:block; float:left; height:40px; margin-right:10px; width:50px; }
.btn_my_loca a { color:#fff; display:block; font-size:13px; height:100%; line-height:40px; text-align:center; width:100%; }

.start_desti_input dl dd div.natural_lang_result_layer { background:#fff; border:1px solid #006633; border-top:none; display:none; position:absolute; top:40px; width:173px; z-index:5; }
.start_desti_input dl dd div.natural_lang_result_layer ul li { color:#666; font-size:13px; padding:10px 5px; }
.start_desti_input dl dd div.natural_lang_result_layer ul li span { color:#b72a3f; }

/* 매장찾기 / 길찾기 메뉴 */
.find_store_wrap { background:#fff; border-radius:3px; height:118px; position:relative; }
.find_store_header { border-top-left-radius:3px; float:left; height:58px; left:0; position:absolute; top:0; width:50%; }
.find_store_header h2.btn_find_store { border-top-left-radius:3px; height:58px; width:100%; }
.find_store_header h2.btn_find_store a { background:url("../../images/store/btn_find_store_on.png") center center no-repeat #006633; border-top-left-radius:3px; display:block; height:100%; overflow:hidden; text-indent:-20000px; width:100%; }
.find_road_header { border-top-right-radius:3px; float:right; height:58px; position:absolute; right:0; top:0; width:50%; }
.find_road_header h2.btn_find_road { border-top-right-radius:3px; height:58px; width:100%; }
.find_road_header h2.btn_find_road a { background:url("../../images/store/btn_find_road_off.png") center center no-repeat #f4f4f2; border-top-right-radius:3px; display:block; height:100%; overflow:hidden; text-indent:-20000px; width:100%; }

.find_store_wrap > article { left:0; position:absolute; top:58px; width:100%; }
.find_store_cont_header,
.find_road_cont_header { height:60px; position:relative; background:#fff; }
.find_store_cont_header{ background:#fff; }
.find_road_cont_header h3 { color:#222; font-size:18px; line-height:60px; text-indent:10px; }


/* 길찾기 - 자동차, 대중교통, 도보 */
.btn_daum_map { background:url("../img/store/kakaomap_logo.png") 4px center no-repeat #fff; background-size: 24px auto; border:1px solid #222; border-radius:3px; box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.2); -webkit-box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.2); height:33px; left:10px; line-height:33px; position:absolute; top:11px; width:84px; z-index:7; }
.btn_daum_map a { color:#666; display:block; font-size:12px; font-weight:bold; height:100%; text-indent:33px; width:100%; }

.find_road_cont { display:none; }

.transfer_method_wrap { margin-top:20px; position:relative; }
.transfer_method_tab1 h3 { border:1px solid #ddd; border-radius:3px; height:38px; left:10px; position:absolute; top:0; width:85px; z-index:3; }
.transfer_method_tab1 h3 a { background:url("../../images/store/icon_car_off.png") 15px 12px no-repeat #fff; background-size:17px 15px; color:#666; font-size:14px; font-weight:normal; display:block; height:100%; line-height:38px; text-indent:35px; width:100%; }
.transfer_method_tab1 h3 a.on { background:url("../../images/store/icon_car_on.png") 15px 12px no-repeat #006633; background-size:17px 15px; color:#fff; }
.transfer_method_tab2 h3 { border:1px solid #ddd; height:38px; left:101px; position:absolute; top:0; width:85px; z-index:2; }
.transfer_method_tab2 h3 a { background:url("../../images/store/icon_subway_off.png") 11px 11px no-repeat #fff; background-size:14px 17px; color:#666; font-size:14px; font-weight:normal; display:block; height:100%; line-height:38px; text-indent:30px; width:100%; }
.transfer_method_tab2 h3 a.on { background:url("../../images/store/icon_subway_on.png") 11px 11px no-repeat #006633; background-size:14px 17px; color:#fff; }
.transfer_method_tab3 h3 { border:1px solid #ddd; border-radius:3px; height:38px; left:192px; position:absolute; top:0; width:85px; z-index:1; }
.transfer_method_tab3 h3 a { background:url("../../images/store/icon_walk_off.png") 22px 9px no-repeat #fff; background-size:14px 20px; color:#666; font-size:14px; font-weight:normal; display:block; height:100%; line-height:38px; text-indent:40px; width:100%; }
.transfer_method_tab3 h3 a.on { background:url("../../images/store/icon_walk_on.png") 22px 9px no-repeat #006633; background-size:14px 20px; color:#fff; }

.transfer_method_wrap .mCSB_inside > .mCSB_container { margin-right:0 !important; }
.transfer_method_wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.transfer_method_wrap .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.transfer_method_wrap .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.transfer_method_wrap .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color:#222; }
.transfer_method_wrap .mCSB_scrollTools .mCSB_draggerRail { width:4px; }




p.btn_opt_chk { background:url("../../images/store/icon_opt_chk.png") 10px 12px no-repeat #fff; border:1px solid #222; border-radius:3px; box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.2); -webkit-box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.2); /*display:none;*/ height:33px; left:10px; line-height:33px; position:absolute; top:11px; width:84px; z-index:7; }
p.btn_opt_chk a { color:#666; display:block; font-size:12px; font-weight:bold; height:100%; text-indent:30px; width:100%; }

.map_layer_toggle,
.road_layer_toggle { height:44px; position:absolute; right:10px; top:8px; width:44px; }
.map_layer_toggle a,
.road_layer_toggle a { background:url("../../images/store/map_layer_arrow_u.png"); background-size:100% auto; display:block; height:44px; overflow:hidden; text-indent:-20000px; width:44px; }
.map_layer_toggle a.on,
.road_layer_toggle a.on { background:url("../../images/store/map_layer_arrow_d.png"); background-size:100% auto; }

.store_map_layer_cont { background: #fff; display:none; @height:551px; position:relative; width:300px; }
.store_map_layer_cont header { float:left; height:40px; position:absolute; top:0; width:33.3%; }
.store_map_layer_cont header.quick_search,
.store_map_layer_cont header.loca_search { border-right:1px solid #ddd; }
.store_map_layer_cont header.quick_search { left:0; }
.store_map_layer_cont header.loca_search { left:33.5%; }
.store_map_layer_cont header.my_store { left:66.9%; }
.store_map_layer_cont header h3 { background:#fff; border-bottom:1px solid #ddd; border-top:1px solid #ddd; height:38px; line-height:38px; text-align:center; width:100%; }
.store_map_layer_cont header h3 a { display:block; color:#444; font-size:12px; height:100%; width:100%; }
.store_map_layer_cont header h3.on { background:#006633; border:none; height:38px; line-height:38px; }
.store_map_layer_cont header h3.on a { color:#fff; }

.road_map_layer_cont { background:#fff; height:551px; position:relative; width:300px; }
.road_map_layer_inner { border-top:1px solid #f4f4f2; padding-top:10px; }
.start_desti_input { padding:0 20px 0 10px; }
.start_desti_input:after { clear:both; content:""; display:block; }
.start_desti_input dl { float:left; margin-top:10px; width:270px; }
.start_desti_input dl dt,
.start_desti_input dl dd { float:left; height:40px; }
.start_desti_input dl dt { width:33px; }
.start_desti_input dl dt label { color:#444; font-size:14px; font-weight:bold; line-height:40px; }
.start_desti_input dl dd { position:relative; width:237px; }
.start_desti_input dl dd p { background: url("../img/store/icon_magnifier.png") center center no-repeat; border-radius:3px; height:23px; line-height:40px; margin-top:-11.5px; position:absolute; right:0px; top:50%; width:23px; }
.start_desti_input dl dd p a { color:#fff; display:block; font-size:13px; height:100%; overflow:hidden; text-indent:-20000px; text-align:center; width:100%; }

	
/* 지도 영역 */
.store_map_wrap { width:100%; height:800px; display:block; position:relative; overflow:hidden; background:url('../../images/store/bg_tile.png'); }



/* 지도 영역 end */
@media screen and (max-width:1600px) {
	/* 지도 영역 */
	.store_map_wrap { height:630px; }
	
}	
	
@media screen and (max-width:960px) {
	.store_height_wrap { top:70px; }
	
	/* 지도 영역 */
	.store_map_wrap { height:600px; }
	/* 지도 영역 end */
}


@media screen and (max-width:640px) {
	.store_height_wrap { width:100%; top:60px; box-sizing: border-box; }
	.store_map_layer { border-radius:0; box-shadow:none; -webkit-box-shadow:none; left:0; top:10px; width:100%; z-index:10; }
	.store_map_layer2 { top:0; }
	.store_map_layer_cont { width:100%; }

	.store_map_layer_cont header { height:50px; }
	.store_map_layer_cont header h3 { height:48px; line-height:48px; }
	.store_map_layer_cont header h3.on { height:48px; line-height:48px; }
	.store_map_layer_cont header h3 a { font-size:16px; }

	.store_map_layer_cont article { padding:48px 0 0 0; }

	.quick_search_inner { margin:10px 0 0 2.5%; width:95%; }

	p.btn_opt_chk { top:13px; }

	.result_num_wrap,
	.result_num_wrap2 { font-size:16px; height:60px; line-height:60px; }

	.result_num_wrap.myStoreInfo { line-height:inherit; height:50px; padding-top:10px; }

	.result_num_wrap strong,
	.result_num_wrap2 strong,
	.result_num_wrap3 strong { font-size:16px; }

	.result_list ul,
	.result_list2 ul,
	.result_list3 ul { width:100%; }

	.result_list ul li,
	.result_list2 ul li,
	.result_list3 ul li { width:100%; }

	.result_list ul li strong,
	.result_list2 ul li strong,	
	.result_list3 ul li strong { display:block; float:none; font-size:16px; margin:20px 0 0 20px; }

	.result_list ul li p.result_details,
	.result_list2 ul li p.result_details,
	.result_list3 ul li p.result_details { float:none; font-size:14px; margin:5px 0 0 20px; width:70%; }
	
	p.btn_select_store { left:20px; }

	.result_list ul li i,
	.result_list2 ul li i,
	.result_list3 ul li i { right:20px; }


	/* 지도 영역 */
	.store_map_wrap { height:740px; }
}

@media screen and (max-width:480px) {
	.store_map_wrap { height:639px; }

	.store_map_layer { border-radius:0; box-shadow:none; -webkit-box-shadow:none; left:0; top:10px; width:100%; }
	.store_map_layer_cont { width:100%; }

	.store_map_layer_cont header { height:40px; }
	.store_map_layer_cont header h3 { height:38px; line-height:38px; }
	.store_map_layer_cont header h3.on { height:38px; line-height:38px; }
	.store_map_layer_cont header h3 a { font-size:14px; }

	.store_map_layer_cont article { padding:38px 0 0 0; }

	.quick_search_inner { margin:10px 0 0 2.5%; width:95%; }

	p.btn_opt_chk { top:13px; }
	p.btn_opt_chk3 { bottom:auto !important; left:auto !important; right:70px !important; top:25px !important; display:block !important;  }

	.result_num_wrap,
	.result_num_wrap2 { font-size:16px; height:60px; line-height:60px; }

	.result_num_wrap.myStoreInfo { height:50px; line-height:inherit; padding-top:10px; }

	.result_num_wrap strong,
	.result_num_wrap2 strong,
	.result_num_wrap3 strong { font-size:16px; }

	.result_list ul,
	.result_list2 ul,
	.result_list3 ul { width:100%; }

	.result_list ul li,
	.result_list2 ul li,
	.result_list3 ul li { width:100%; }

	.result_list ul li strong,
	.result_list2 ul li strong,	
	.result_list3 ul li strong { display:block; float:none; font-size:16px; margin:20px 0 0 20px; }

	.result_list ul li p.result_details,
	.result_list2 ul li p.result_details,
	.result_list3 ul li p.result_details { float:none; font-size:14px; margin:5px 0 0 20px; width:70%; }

	.result_list ul li i,
	.result_list2 ul li i,
	.result_list3 ul li i { right:20px; }
	
	
	
	/* 지도 영역 */
	.store_map_wrap { height:640px; }
	/* 지도 영역 end */
}