@charset "UTF-8";

html {
    font-size:  20px;
}

body {
    font-size: 1rem;
}

/*title 부분*/
.ms_sb_tit_bg {
    width: 100%;
    height: 98px;
    background-color: #ffffff;
}

.ms_sub_tit_inner {
    width: 54.5rem;
    margin: 0 auto;
    height: 74px;
    padding-top: 30px;
    position: relative;
    box-sizing: border-box;
}

body > div > div > h4 {
    width: 100%;
    height: 41px;
    display: block;
    font-weight: bold;
}

#container > header > div > div > h4 > img{
background: transparent;
vertical-align: top;
max-width: 100%;
}

/*icons*/
.xi-home-o {
    color:grey;
}
.xi-angle-right-min{
    color: grey;
}

/*title 내부의 home>menu 부분*/
body > div > div > ul{
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: inline-flex;
}
body >div > div > ul > li a{
    color: grey;
    text-decoration: none;  
    font-size: 16px;

}


/*contents part*/
#container {
    width: 100%;
}

.faq_section {
    width: 1100px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.faq_section p.msr_t1{
    font-size: 16px;
    color: #444;
    padding-top: 20px;
    margin-bottom: 18px;
    line-height: 1.4;
}

.faq_search {
    background: #f4f4f2;
    padding: 15px 20px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 35px;
    height: 30px;
    line-height:  30px;
}

.search_input{
    position: absolute;
    right: 20px;
    top: 15px;
    width: 395px;
}
.search_input > input {
    width: 343px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    background: white;
    font-size: 14px;
}

.search_input > a {
    width: 42px;
    height: 28px;
    line-height: 28px;
    background:#777777;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    float: right;
    text-align: center;
    border-radius: 3px;
}




.faq_wrap { width: 1100px; border-top:1px solid #222; border-bottom:1px solid #222; margin-bottom:40px; }
.faq_wrap > dt.on { background:url("../../images/myPage/common/faq_arrow_up.png") 98% center no-repeat; }
.faq_wrap > dt { padding:17px 0; border-bottom:1px solid #ddd; background:url("../../images/myPage/common/faq_arrow_down.png") 98% center no-repeat; cursor:pointer; }

.faq_wrap > dt > ul { width:100%; }
.faq_wrap > dt > ul:after { content:""; display:block; clear:both; }
.faq_wrap > dt > ul > li { float:left; }
.faq_wrap > dt > ul > li.li1 { width:20%; font-size:14px; color:#444; text-align:center; }
.faq_wrap > dt > ul > li.li2 { width:80%; font-size:14px; font-weight:normal; }
.faq_wrap > dt dl { width:936px; }
.faq_wrap > dt dl:after { content:""; display:block; clear:both; }
.faq_wrap > dt dt { float:left; width:23px; font-size:14px; color:#006633; line-height:1.4; position:relative; bottom:2px; }
.faq_wrap > dt dd { float:left; width:805px; color:#444; line-height:1.4; font-size:14px; }
.faq_wrap > dt.on dd { color:#006633; }

.faq_wrap > dd { padding:29px 0; background:#f4f4f2; display:none; }
.faq_wrap > dd > ul { width:100%; }
.faq_wrap > dd > ul:after {content:"";display:block;clear:both;}
.faq_wrap > dd > ul > li { float:left; }
.faq_wrap > dd > ul > li.li1 { width:20%; }
.faq_wrap > dd > ul > li.li2 { width:80%; }
.faq_wrap > dd dl { width:100%; }
.faq_wrap > dd dl:after { content:""; display:block; clear:both; }
.faq_wrap > dd dt {float:left;width:23px;font-size:14px;font-weight:bold;color:#666;line-height:1.4;}
.faq_wrap > dd dd {float:left;width:95%;font-size:14px;color:#666;line-height:1.4;}
.faq_wrap > dd dd p.tt { margin-bottom:20px; }