@charset "UTF-8";

/*section */
.star_contents{
    width: 54.5rem;
    margin:0 auto;
    margin-top:50px;
    margin-bottom: 90px;
    background-color: bisque;
    position:relative;
}

.ms_star_wrap{
    width:41.5rem;
    
}
/*starbucks 별 상세 정보*/
section.star_info {
    width:100%;
    height: 6.5rem;
    box-sizing: border-box;
    
}
section > ul.star_info_box {height: 100px; width:840px; overflow:hidden;}
section > ul li {border:1px solid #ddd; float: left; height: 78px; padding: 20px 0 0 30px; position:relative; width:179px;}
section > ul li.box1 {border-right: none; border-radius: 3px 0 0 3px;}
section > ul li p.t1{font-size:14px; padding-bottom: 9px; color:#222;}
section > ul li p.t2 {font-size: 18px; font-weight: bold; color:#222;}
section > ul li.box2 {border-left:none; border-right: none;}
section > ul li span.star_limit {color:#666; font-size: 12px; left: 86px; position:absolute; top:22px;}


/*기간선택*/
section.card_pick_period {
    width: 830px;
    min-height: 60px;
    background: #f4f4f2;
    margin-top: 30px;
    border-radius: 3px;
    
}
.card_refer{
    font-size:12px;
    padding-top:10px;
    text-align:right;
}
/*별 히스토리 목록*/
table{
    width:100%;
    border-collapse: collapse;
    margin-top:30px;
    display: table;
    border-top:1px solid rgb(51,51,51);
    border-bottom: 1px solid rgb(51,51,51);
    text-align: center;
    line-height: 14px;
    font-size: .7rem;
    
}

thead {
    border-top:1px solid rgb(51,51,51);
    border-bottom: 1px solid rgb(51,51,51);
    
    
}
thead > tr> th{
    height: 46px;
    vertical-align: middle;
}

tbody> tr> td {
    border-bottom: 1px solid #dbdbdb;
    color: #666;
    height: 46px;
    padding: 7px 0;
}