@charset "UTF-8";
#select-area{
	float: right;
	margin-right: 0.3rem;
	margin-bottom: 0.8rem;
}

#icon-type{
	margin-right: 0.5rem;
}
#select-type{
	font-size: 0.9rem;
	margin-right: 2.5rem;
}
#before-page{
	cursor: pointer;
}
.cur-page{
	cursor: pointer;
}
#next-page{
	cursor: pointer;
}
#more{
	width: 100%;
	border: 1px solid #EAEAEA;
	background-color: #EAEAEA;
}
#store-info-table{
	height: 15rem;
	line-height: 3rem;
	text-align: left;
}
#store-image{
	width: 27rem;
}
#store-title{
	line-height: 1rem;
	font-weight: bold;
	text-align: center;
}
#store-column-name{
	width: 8rem;
	font-weight: bold;
	font-size: 0.8rem;
}
.store-row-data{
	width: 10rem;
}
			#member-list > tr{
				cursor: pointer;
			}
			#update-btn{
				font-size: 0.8rem;
				color: white;
				padding: 0.35rem 0.45rem;
				border-radius: 4px;
				border: none;
				background-color: #006633;
				cursor: pointer;
			}
			#update-btn-area{
				margin: 0.6rem 0px 0px;
				float: left;
				visibility: hidden;
			}
			#btn-area{
				margin-top: -0.5rem;
			}
			#staff-info-area{
				margin-top: 0.2rem;
			}
			#staff-info-table{
				font-size: 0.8rem;
				text-align: left;
				line-height: 1rem;	
			}
			#staff-update-area{
				background-color: #FFFFFF;
			}
			#ttmp{
				position: relative;
			}
			#staff-info-column{
				width: 3rem;
				font-size: 0.8rem;
				padding: 0.5rem 0px;
				font-weight: bold;
				text-align: center;
			}
			#staff-info-column1{
				width: 4rem;
				font-size: 0.8rem;
				padding: 0.5rem 0px;
				padding-left: 0.5rem;
				font-weight: bold;
				text-align: left;
			}
			#staff-work-time-area{
				width:100%;
				position: relative;
				border: 1px solid #EAEAEA;
			}
			#staff-info-left{
				float: left;
				width: 30%;
			}
			#staff-info-right{
				width: 68%;
			}
			.staff-work-info-area{
				margin: 0.2rem;
				font-size: 0.8rem;
				position: relative;
				display: inline-block;
			}
			.work-time{
				width: 4.8rem;
				margin: 0px 0.3rem;
				text-align:center;
			}
			/* div 내에 양쪽 정렬을 하고 싶다면 하나로 감싼 부모 css display를 flex로 하고, justify-content를 space-between으로 둘 것 */
			#popup-btn-area{
				width: 100%;
				margin: 1rem 0px 0.2rem;
				display: flex;
				padding-left: 0.2rem;
				padding-right: 0.4rem;
				justify-content: space-between;
			}
			#pop-cancle-btn{
				color: #A6A6A6;
				border: 1px solid #A6A6A6;
				background-color: #FFFFFF;
			}
			/* #006633 */
			#pop-update-btn{
				color: white;
				border: 1px solid #006633;
				background-color: #006633;
			}
			#store-pop-update-btn{
				color: white;
				border: 1px solid #006633;
				background-color: #006633;
			}
			.popup-btn{
				font-size: 0.9rem;
				cursor: pointer;
				padding: 0.5rem 1.2rem;
				border: 1px solid red;
				border-radius: 3px;
				text-align: center;
			}
			#update-form{
				margin-top: 1rem;
			}
			#work-store-txt{
				font-size: 0.8rem;
				width: 6.5rem;
				border: none;
			}
			.staff-info-row{
				text-align: left;
			}
			#store-search{
				font-size: 0.8rem;
				cursor: pointer;
				width: 1.2rem;
				padding: 0.2rem;
				color: white;
				background-color: #D5D5D5;
				border-radius: 3px;
				visibility: hidden;
			}
			.info-width{
				width: 10rem;
			}
			#store-search-area{
				margin: 1rem 0px 0.5rem;
			}
			#store-select-area{
				padding: 0.2rem;
				z-index: 5px;
				border: 1px solid #D5D5D5;
			}
			#sido-drop{
				z-index: 5px;
			}
			#store-select-scroll{
				width: 95%; height: 240px;
				overflow:auto; 
				padding-right: 0.2rem;
			}
			#sido-list-drop{
				z-index: 3px;
				height: 13rem;
				overflow: auto;
			}
			.select-store{
				width: 100%; height: 50px;
				margin: 0.2rem 0px;
				border: 1px solid #F6F6F6;
				line-height: 50px;
				cursor: pointer;
				padding-left: 0.5rem;
			}
			#store-select-info{
				background-color:#F6F6F6;
				color: #5D5D5D;
				font-size: 0.83rem;
				padding: 0.2rem;
			}
			#search-store-txt{
				width:50%;
				z-index: -5px;
			}
			#store-search-btn{
				border: 1px solid #D5D5D5;
				background-color: #D5D5D5;
			}
			.store-choose{
				margin-right: -0.3rem;
			}
			#store-store-name{
				width: 70%;
				margin-left: 0.2rem;
			}
			#store-store-sido-name{
				width: 28%;
				padding-right: 0.5rem;
				border-right: 1px solid #D5D5D5;
			}
			#sido-select-area{
				font-size: 0.9rem;
				padding-left: 0.5rem;
				border: 0.2px solid #D5D5D5;
				cursor: pointer;
			}
			#sidoDropdown{
				width: 5rem;
			}
			#select-type{
				margin-right: 0rem;
			}
